/*By WMProject1217*/
body {
    background:#FFFFFF no-repeat right top;
}
#toplineback{
    position: absolute;
    background-color:#000000;
    top:5px;
    width:99%;
    height:37px;
}
#topline {
    position: absolute;
    top:5px;
    background-color:#000000;
    color:white;
}
#toplinelogin{
    position: absolute;
    top:5px;
    right:5px;
    background-color:#000000;
    color:white;
}
#leftline{
    position: absolute;
    background-color: #66CCFF;
    float:left;
    text-align:left;
    top:37px;
    height:1300px;
    width:20%;
}
#bottomline{
    position:fixed;
    bottom:5px;
    text-align:center;
}
#maindata{
    position: absolute;
    top:37px;
    height:100%;
    left:20%;
    width:80%;
}
#videologo{
    height:120px;
    width:99%
}
#videologotitle{
    background-color:#EEEE00;
    color:#EE0000;
    position: relative;
    top:-30px;
}
#titleblock{
    position:relative;
    top:30px;
}
#audioplayer{
    position:relative;
    top:30px;
}