/*By WMProject1217*/
body {
    background:#FFFFFF no-repeat right top;
}
.leftline{
    position: absolute;
    background-color: #66CCFF;
    float:left;
    text-align:left;
    top:55px;
    height:1300px;
    width:19%;
}
.toplineback{
    position: absolute;
    background-color:#000000;
    top:5px;
    width:99%;
    height:50px;
}
.topline {
    position: absolute;
    left:196px;
    top:5px;
    height:50px;
    background-color:#000000;
    color:#FFFFFF;
}
.toplinelogin{
    position: absolute;
    top:5px;
    right:5px;
    height:50px;
    background-color:#000000;
    color:#FFFFFF;
}
.toplineecho{
    color:#FFFFFF;
}
.toplineuserimage{
    position: absolute;
    top:0px;
    left:-50px;
    width:50px;
    height:50px;
}
.bottomline{
    position:fixed;
    bottom:5px;
    text-align:center;
}
.maindata{
    position: absolute;
    top:55px;
    left:20%;
    width:79%;
}
.maindataindex{
    position: absolute;
    top:55px;
    width:99%;
}
.talkboxinput{
    width:384px;
    height:72px;
}
.videologo{
    height:120px;
    width:99%;
}
.videologotitle{
    position: relative;
    top:-30px;
    width:99%;
    background-color:#EEEE00;
    color:#EE0000;
}
.websitetitleimage{
    position: absolute;
    left:-196px;
    top:0px;
    height:50px;
    width:196px;
}
.userimage{
    width:120px;
    height:120px;
}
p.videopust_title
{
    position: relative;
    top: -30px;
}
pre
{
white-space: pre-wrap; word-wrap: break-word;
}